<ion-view view-title="<img src='img/logo-letras.png' style='margin-top: 9px; width: 40%;'>">
  <ion-content class="padding login">      
      <div style="margin-top:50px; text-align:center">
          <img src="img/logo.png" style="width:50%; margin-bottom: 50px;">
          <form ng-submit="login(data)">
          <div class="list">
                <label class="item item-input">
                  <i class="icon ion-person placeholder-icon"></i>
                  <input type="email" ng-model="data.email" placeholder="Email">
                </label>
                <label class="item item-input">
                  <i class="icon ion-key placeholder-icon"></i>
                  <input type="password" ng-model="data.password" placeholder="Contrasena">
                </label>
              <div style="margin-top: 30px">
                <button type="submit" class="button button-balanced">Ingresar</button><br/><br/>
                <a href="#/tab/registrar" class="button button-balanced">Registrar</a>
              </div>
          </div>
         </form>
      </div>
  </ion-content>
  <div style="background: rgb(250, 180, 52) none repeat scroll 0% 0%; margin: 0px; width: 100%; padding: 10px; position: absolute; bottom: 0px; text-align: center; color: white;">&copy; 2016 All Rights Reserved By Darsoft Soluciones</div>
</ion-view>
