<ion-view view-title="{{nombre}}">
  <ion-content style="">
        <div  ng-show="detail.status==1 || detail.status==2" style="width: 100%; min-height: 30px; position: absolute; bottom: 10px; left: 0px; z-index: 1000; background: rgba(0,0,0,.8);" ng-controller="Pedidos">                  
                <div style="width:100%; text-align:center; display:inline-block;" ng-show="detail.status==1">
                    <button class="button button-block" ng-click="notificarRecogida()">Notificar Recogida</button>
                </div>
                <div style="width:100%; text-align:center; display:inline-block;" ng-show="detail.status==2">
                    <button class="button button-block" ng-click="notificarEntrega()">Notificar Llegada</button>
                </div>
        </div>
        <app-map center="basel" zoom="15" markers="whoiswhere" pedidoclick="pedidoclick" icon="iconMap" location="moveMarkerManually"></app-map>
  </ion-content>
</ion-view>