<ion-view title="{{nombre}}">
  <ion-content class="has-header">
      <ion-refresher pulling-text="Suelta para actualizar" on-refresh="consultar()"></ion-refresher>
      <div  style="padding-bottom:300px;">
        <div class="card" ng-repeat="i in mensajes">
            <div class="item item-text-wrap">
              {{i.userName}}: {{i.mensaje}}
            </div>
        </div>        
      </div>      
  </ion-content>
    <div style="position:fixed; bottom:0px; width:100%;" class="bar-positive nav-title-slide-ios7">
          <div class="list">
            <div class="item item-input-inset">
              <label class="item-input-wrapper">
                <input type="text" ng-model="mensaje" placeholder="Mensaje">
              </label>
              <button class="button button-small" ng-click="sendMensaje(mensaje)">
                  <i class="icon ion-android-arrow-dropright-circle"></i>
              </button>
            </div>
          </div>
      </div>
</ion-view>