<ion-view view-title="">
  <ion-content class="has-header" style="padding-top:40px;">      
       <div class="card">
            <div class="item item-divider">
                <b>Nro de envio Nro.</b> {{detail.id}}
            </div>
            <div class="item item">
                <div class="item item-text-wrap">
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="Email del tarjeta habiente" ng-model="datos.email">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="Nombre Tarjeta Habiente" ng-model="datos.nombre">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="Numero de Tarjeta" ng-model="datos.tarjeta">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="CVC" ng-model="datos.cvc">
                        </label>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Mes de vencimiento
                            </div>
                            <select ng-model="datos.mes">
                                <option ng-repeat="i in meses">{{i}}</option>
                            </select>
                        </label>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Año de vencimiento
                            </div>
                            <select ng-model="datos.anio">
                                <option ng-repeat="i in anios">{{i}}</option>
                            </select>
                        </label>
                        <label class="item item-input">
                            <input type="number" placeholder="Propina al repartidor (Opcional)" ng-model="datos.propina">
                        </label>
                    </div>
                    <button ng-click="procesarPago(datos)" ng-if="!sendit" class="button button-balanced button-full">Procesar Pago</button>
                </div>
            </div>
       </div>
      
  </ion-content>
</ion-view>