<ion-view view-title="">
  <ion-content class="has-header" style="padding-top:40px;">      
       <div class="card">
            <div class="item item-divider">
                <b>Viaje #</b> {{detail.id}}
            </div>            
           <div class="item item-text-wrap">
               <b>Direccion:</b> {{detail.direccion}}
            </div>
           <div class="item item-text-wrap">
               <b>Fecha Solicitud: </b> {{detail.fecha_solicitud}}
           </div>           
           <div class="item item-text-wrap">
               <b>Tiempo estimado de llegada</b> {{detail.tiempo_transito}}Min
           </div>
           <div class="item item-text-wrap">
               <b>Datos del cliente </b>{{detail.s3eb7f57f}}
           </div>
           <div class="item item-text-wrap">
               <b>Status del viaje </b>{{detail.status=='0'?'Por recoger':detail.status=='1'?'Por recoger':detail.status=='2'?'En Transito':'Completado'}}
           </div>
           <div class="item item-text-wrap" ng-show="detail.status==1">
               <button ng-click="notificarRecogida()" class="button button-assertive button-full">Notificar Recogida</button>
           </div>
           <div class="item item-text-wrap" ng-show="detail.status==2">
               <button ng-click="notificarEntrega()" class="button button-assertive button-full">Notificar Llegada</button>
           </div>
       </div>
      
  </ion-content>
</ion-view>