<ion-view view-title="<img src='img/logo-letras.png' style='margin-top: 9px; width: 40%;'>">
  <ion-content class="padding registro">
      <div align="center" style="margin-top:40px">
            <h3>Crear Cuenta</h3>
      </div>
      <div style="margin-top:30px">
          <form ng-submit="personales(data)">
          <div class="list">
                <label class="item item-input item-floating-label">
                  <span class="input-label">Email: </span>
                  <input type="email" ng-model="data.email" placeholder="Email">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Contraseña: </span>
                  <input type="password" ng-model="data.password" placeholder="Contrasena">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Nombre Sucursal: </span>
                  <input type="text" ng-model="data.nombre_taxista" placeholder="Nombre">
                </label>
                <button type="submit" class="button button-balanced button-full">Registrar</button>                
          </div>
         </form>
      </div>
  </ion-content>
</ion-view>
