<ion-side-menus>
        <ion-pane ion-side-menu-content>
            <ion-nav-bar class="bar-positive nav-title-slide-ios7">
                
            </ion-nav-bar>
            <ion-nav-view name="tab-login" animation="slide-left-left"></ion-nav-view>
        </ion-pane>
        <ion-side-menu side="left">
            <header class="bar bar-header bar-positive">
                <h1 class="title">Menu</h1>
            </header>
            <ion-content class="has-header">
                <ul class="list">
                    <a ui-sref="tab.main" menu-toggle="left" nav-clear class="item">Inicio</a>
                    <a ui-sref="tab.indicadores" menu-toggle="left" nav-clear class="item">Indicadores</a>
                    <a ui-sref="tab.envios" menu-toggle="left" nav-clear class="item">Viajes realizados</a>
                    <a ui-sref="tab.mensajes" menu-toggle="left" nav-clear class="item">Mensajes</a>
                    <a ng-click="desconectar()" menu-toggle="left" nav-clear class="item">Salir</a>
                </ul>
            </ion-content>
        </ion-side-menu>
</ion-side-menus>