<ion-side-menus>
        <ion-pane ion-side-menu-content>
            <ion-nav-bar class="bar-positive nav-title-slide-ios7">
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()"></button>                    
                </ion-nav-buttons>
                <ion-nav-buttons side="right">
                    <i class="icon ion-radio-waves" style="color:{{connecting?'blue':'gray'}}; font-size:30px;"></i>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view name="tab-main" animation="slide-left-left"></ion-nav-view>
        </ion-pane>
        <ion-side-menu side="left">
            <header class="bar bar-header bar-positive">
                <h1 class="title">Menu</h1>
            </header>
            <ion-content class="has-header">
                <ul class="list">
                    <a ui-sref="tab.main" menu-toggle="left" nav-clear class="item">Inicio</a>
                    <a ui-sref="tab.indicadores" menu-toggle="left" nav-clear class="item">Indicadores</a>
                    <a ui-sref="tab.envios" menu-toggle="left" nav-clear class="item">Viajes realizados</a>
                    <a ui-sref="tab.mensajes" menu-toggle="left" nav-clear class="item">Mensajes</a>
                    <a ng-click="desconectar()" menu-toggle="left" nav-clear class="item">Salir</a>
                </ul>
            </ion-content>
        </ion-side-menu>
</ion-side-menus>