<style>
    .pane, .view{
        background:#222222;
    }
</style>
<ion-view title="{{nombre}}">
  <ion-content class="has-header">
      <div id="sonar" style="margin-top:100px;">
        <i>
          <i></i>
        </i>
        <div id="guides">
          <div class="line"></div>
        </div>
      </div>
      <div style="margin-top:30px">
        <center>
            <button ng-click="asignar()" ng-show="reintentar" class='button button-royal'>Reintentar</button>
        </center>
      </div>
  </ion-content>
</ion-view>