<ion-view title="{{nombre}}">
  <ion-content class="has-header">
      <div class="card">
        <div class="item item-divider">
          Calificar a {{detail.nombre_taxista}}
        </div>
        <div class="item item-divider">
            <img src="{{foto}}" style="width:100%;">
        </div>
        <div class="item item-text-wrap" align="center">
            <div class="item item-divider" align="center">
                Calificación
            </div>
            <ul class="rate">
                <li class="{{datos.calidad>=1?'act':''}}" ng-click="datos.calidad=1"></li>
                <li class="{{datos.calidad>=2?'act':''}}" ng-click="datos.calidad=2"></li>
                <li class="{{datos.calidad>=3?'act':''}}" ng-click="datos.calidad=3"></li>
                <li class="{{datos.calidad>=4?'act':''}}" ng-click="datos.calidad=4"></li>
                <li class="{{datos.calidad>=5?'act':''}}" ng-click="datos.calidad=5"></li>
            </ul>
            <button class="button button-balanced button-full" ng-click="rankear(datos)">Enviar Ranking</button>
        </div>
      </div>
  </ion-content>
</ion-view>