<div class="bar bar-header bar-positive">  
  <h1 class="title">Confirma tu ubicación</h1>
</div>
<ion-view>
  <ion-content class="has-header">
        <div style="width: 100%; min-height: 30px; position: absolute; bottom: 10px; left: 0px; z-index: 1000; background: rgba(0,0,0,.8);">
                  <div class="button button-block" style="width:20%; font-size:25px; text-align:center; display:inline-block;" ng-click="seleccionarIzquierda()"  ng-if="navigate"><i class="icon ion-chevron-left"></i></div>
                  <div style="width:{{widthButtonCancelar}}; text-align:center; display:inline-block;">
                      <button class="button button-block" ng-click="cancelar()">Cancelar</button>
                  </div>
                  <div style="width:{{widthButtonConfirmar}}; text-align:center; display:inline-block;">
                      <button class="button button-block" ng-click="confirmar()">Seleccionar</button>
                  </div>            
                  <div class="button button-block" style="width:20%; font-size:25px; text-align:center; display:inline-block;"  ng-click="seleccionarDerecha()" ng-if="navigate"><i class="icon ion-chevron-right"></i></div>
        </div>
      <app-map center="basel" zoom="17" location="location" direccion="direccion" icon="iconMap" lugares="navegarlugares" heightmap="innerheight"></app-map>
  </ion-content>
</ion-view>