<ion-view title="{{nombre}}">
  <ion-content class="has-header">
      <form ng-submit="send(datos)">
            <div class="list">
                    <label class="item item-input">
                        <input type="password" placeholder="Contraseña" ng-model="datos.password">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Nombre sucursal" ng-model="datos.nombre_sucursal">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Responsable" ng-model="datos.responsable">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Telefono Fijo" ng-model="datos.telefono_fijo">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Celular" ng-model="datos.telefono_celular">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Contrato" ng-model="datos.contrato">
                    </label>
                    <label class="item item-input">
                      <input type="text" ng-model="datos.nombre_tarjeta" placeholder="Nombre Tarjeta Habiente">
                    </label>
                    <label class="item item-input">
                      <input type="text" ng-model="datos.tarjeta" placeholder="{{tarjetin}}">
                    </label>
                    <label class="item item-input">
                      <input type="password" ng-model="datos.cvc" placeholder="CVC">
                    </label>
                    <label class="item item-input">
                      <input type="number" ng-model="datos.mes" placeholder="Mes de vencimiento">
                    </label>
                    <label class="item item-input">
                      <input type="number" ng-model="datos.anio" placeholder="Año de vencimiento">
                    </label>
                <button type="submit" class="button button-balanced button-full">Actualizar</button>
             </div>
    </form>
  </ion-content>
</ion-view>