<ion-view title="{{nombre}}">
  <ion-content class="has-header">
      <ion-refresher pulling-text="Suelta para actualizar" on-refresh="refresh()"></ion-refresher>
        <div class="list">
            <div class="item item-input item-select">                
                    <div class="input-label">
                      Lista de viajes
                    </div>
                    <select ng-model="filtro" ng-change="filter(filtro)">
                      <option value="Todos">Todos</option>
                      <option value="1">Recogiendo</option>
                      <option value="2">En tránsito</option>
                      <option value="3">Completado</option>
                    </select>
            </div>
            <a class="item" href="#tab/pedido/{{i.id}}" ng-repeat="i in lista">
                Nro de viaje {{i.id}} - {{i.statusText}}
            </a>
      </div>
  </ion-content>
</ion-view>