<ion-view title="{{nombre}}">
  <ion-content class="has-header">
      
       <div class="card">            
           <div class="item item-text-wrap">
               <b>Dirección:</b> {{detail.direccion}}
            </div>
           <div class="item item-text-wrap">
               <b>Fecha Solicitud: </b> {{detail.fecha_solicitud}}
           </div>           
           <div class="item item-text-wrap">
                <b>Repartidor Asignado:</b> {{detail.s3a1e48a6}} <button ng-click="asignar()" ng-show="detail.s3a1e48a6==null" class="button button-balanced">Asignar</button>
           </div>
           <div class="item item-text-wrap">
               <b>Tiempo estimado de Llegada</b> {{detail.tiempo_transito}}Min
           </div>
           <div class="item item-text-wrap">
               <b>Status del viaje </b>{{detail.status=='0'?'Por recoger':detail.status=='1'?'Por recoger':detail.status=='2'?'En Transito':'Completado'}}
           </div>
           <div class="item item-text-wrap">
               <button class="button button-assertive button-full" ng-show="detail.status=='3'" ng-click="calificar()">Calificar taxista</button>
           </div>
           <div class="item item-text-wrap" ng-show="detail.status!=='3'">
               <button class="button button-assertive button-full" ng-click="anular()">Anular Viaje</button>
           </div>           
       </div>
      
  </ion-content>
</ion-view>