<ion-view title="Nuevo Viaje">
  <ion-content class="has-header">
            <div class="card">
                  <div class="item item-divider">
                    ¿Dónde desea la recolección?
                  </div>
                  <div class="item item-text-wrap">
                      <div class="button-bar">
                          <a class="button button-royal" ng-click="datos.ownposition = true" ng-disabled="datos.ownposition==true"><i class="icon ion-ios-location"></i> Aquí</a>
                          <a class="button button-energized" ng-click="datos.ownposition = false" ng-disabled="datos.ownposition==false">Otra Ubicación</a>
                        </div>
                  </div>
             </div>

            <div class="card">
                  <div class="item item-text-wrap">
                      <div class="list">
                          <label class="item item-input">                              
                              <places-autocomplete ng-model="datos.direccion" ng-disabled="datos.ownposition==true" selectfields="selectFieldsFunction"></places-autocomplete>
                          </label>
                          <label class="item item-input">
                               <input type="text" placeholder="Calle" ng-model="datos.calle" ng-disabled="datos.ownposition==true">
                          </label>
                          <label class="item item-input">
                               <input type="text" placeholder="No. Ext" ng-model="datos.ext" ng-disabled="datos.ownposition==true">
                          </label>                          
                          <label class="item item-input">
                               <input type="text" placeholder="No. Int" ng-model="datos.int" ng-disabled="datos.ownposition==true">
                          </label>
                          <label class="item item-input">
                               <input type="text" placeholder="Colonia" ng-model="datos.colonia" ng-disabled="datos.ownposition==true">
                          </label>
                          <label class="item item-input">
                               <input type="text" placeholder="Delegacion" ng-model="datos.delegacion" ng-disabled="datos.ownposition==true">
                          </label>
                          <label class="item item-input">
                               <input type="text" placeholder="CP" ng-model="datos.cp" ng-disabled="datos.ownposition==true">
                          </label>
                          <label class="item item-input">
                               <input type="text" placeholder="Ciudad" ng-model="datos.ciudad" ng-disabled="datos.ownposition==true">
                          </label>
                        </div>
                  </div>
             </div>
      
             <div class="card">
                  <div class="item item-divider">
                    ¿Cuándo desea la recolección?
                  </div>
                  <div class="item item-text-wrap">
                      <div class="button-bar">
                          <button ng-click="enviarPedido(datos,false)" class="button button-balanced">Ahora</button>
                          <!--<button ng-click="toggleProgramar(datos)" class="button button-energized"><i class="icon ion-clock"></i> Programar</button>-->
                        </div>
                  </div>
             </div>
  </ion-content>
</ion-view>