<ion-view title="{{nombre}}">
  <ion-content class="has-header">
      <div style="margin-top:140px; text-align: center;" ng-click="newEnvio()" class="">          
          <img src="img/boton-inicio.png" style="width:50%">
      </div>
  </ion-content>
</ion-view>