.pane, .view {
    background: #FAB434;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: #FAB434;
}

.bar.bar-positive {
    border-color: #FAB434;
}

.button.button-balanced {
    background-color: #FAB434;
    border-color: #FAB434;
    color: #fff;
    padding: 0px 30px;
    font-weight:bold;
}

.bar.bar-positive .title {
    font-weight:bold;
    text-transform: uppercase;
    color:black;    
}

.registro{
    color:white;
    background:#808080;
}

.login{
    color:white;    
    background:#808080;
}

.registro h1, .registro h2, .registro h3, .registro h4, .registro p{
    color:white;
}

.registro .item-checkbox{
    background:transparent;
    color:white;
    border:0px;
}

.registro .item-floating-label{
    background:white;
}

.registro .social {
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.registro .social span {
    display: inline-block;
    padding: 0 20px;
    vertical-align: baseline;
}

.registro .social span::before, .registro .social span::after {
    border-top: 1px solid White;
    content: "";
    display: block;
    position: absolute;
    top: 0.9em;
    width: 500px;
}

.registro .social span::after {
    left: 90%;
}

.registro .social span::before, .content .social span::after {
    border-top: 1px solid White;
    content: "";
    display: block;
    position: absolute;
    top: 0.9em;
    width: 500px;
}

.registro .social span::before {
    right: 90%;
}

.registro .social .button{
    font-size:12px;
    color:white;
    border:none;
}

.registro .social .facebook{
    background:#4464b2;
}
.registro .social .twitter{
    background:#28a9e0;
}
.registro .social .google{
    background:#da4735;
}
