[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: #FAB434;
}
.pane, .view {
    background: #808080;
}

.bar.bar-positive {
    background: #FAB434;    
    border-color: #FAB434;
    color: #fff;
}

.bar.bar-positive {
    background: #FAB434;
}

/*Animacion Sonar */
#sonar {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  background: #FAB434;
  overflow: hidden;
  border: 2px solid #8ba892;
  -webkit-border-radius: 300px;
  border-radius: 300px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#sonar:before,
#sonar:after {
  content: '';
  background: rgba(139, 168, 146, 0.15);
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
#sonar:before {
  width: 1px;
}
#sonar:after {
  height: 1px;
}
#sonar i {
  display: block;
  margin: 50px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 1px solid rgba(139, 168, 146, 0.15);
  -webkit-border-radius: 300px;
  border-radius: 300px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#sonar > i:before {
  content: '';
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 0;
  width: 0;
  border-style: solid;
  border-color: #8ba892 transparent;
  border-width: 0 5px 15px;
}
#sonar.animated .dot {
  background: #c5d4c9;
  position: absolute;
  width: 4px;
  height: 4px;
  margin-top: -2px;
  margin-left: -2px;
  opacity: 0.3;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 3px 4px #8ba892;
  box-shadow: 0 0 3px 4px #8ba892;
  -webkit-animation: dot_pulse linear 2s infinite;
  animation: dot_pulse linear 2s infinite;
}
#sonar.animated .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 300px;
  border-radius: 300px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-animation: sonar 2s infinite linear;
  animation: sonar 2s infinite linear;
  -webkit-box-shadow: inset 0 0 25px 5px rgba(139, 168, 146, 0.5);
  box-shadow: inset 0 0 25px 5px rgba(139, 168, 146, 0.5);
}
#guides {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
@keyframes sonar {
  from {
    width: 5px;
    height: 5px;
  }
  to {
    width: 300px;
    height: 300px;
  }
}
@-moz-keyframes sonar {
  from {
    width: 5px;
    height: 5px;
  }
  to {
    width: 300px;
    height: 300px;
  }
}
@-webkit-keyframes sonar {
  from {
    width: 5px;
    height: 5px;
  }
  to {
    width: 300px;
    height: 300px;
  }
}
@-moz-keyframes dot_pulse {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}
@-webkit-keyframes dot_pulse {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}

.rate{display:inline-block;}
.rate,.rate li{margin:0px; padding:0px;}
.rate li{
    list-style:none;
    float:left;
    background:url('../img/stars.png') no-repeat;
    width:50px;
    height:50px;
    background-position:0 -50px;
}
.rate .act{
    background-position:0 0px;
}

.rate2{display:inline-block;}
.rate2,.rate li{margin:0px; padding:0px;}
.rate2 li{
    list-style:none;
    float:left;
    background:url('../img/stars.gif') no-repeat;
    width:18px;
    height:16px;
}
.rate2 .act{
    background-position:0 -16px;
}