[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: #FAB434;
}
.pane, .view {
    background:#808080;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: #FAB434;
}

.bar.bar-positive {
    background: #FAB434;    
    border-color: #FAB434;
    color: #fff;
}

.bar.bar-positive {
    background: #FAB434;
}

.rate{display:inline-block;}
.rate,.rate li{margin:0px; padding:0px;}
.rate li{
    list-style:none;
    float:left;
    background:url('../img/stars.gif') no-repeat;
    width:18px;
    height:16px;
}
.rate .act{
    background-position:0 -16px;
}

.rate{display:inline-block;}
.rate,.rate li{margin:0px; padding:0px;}
.rate li{
    list-style:none;
    float:left;
    background:url('../img/stars.gif') no-repeat;
    width:18px;
    height:16px;
}
.rate .act{
    background-position:0 -16px;
}

.rate2{display:inline-block;}
.rate2,.rate li{margin:0px; padding:0px;}
.rate2 li{
    list-style:none;
    float:left;
    background:url('../img/stars.gif') no-repeat;
    width:18px;
    height:16px;
}
.rate2 .act{
    background-position:0 -16px;
}